body{
    background-image: url("../../static/img/background/registerBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.global{
    height: 600px;
    width: 600px;

    margin: 150px auto;
    background-color: #80808099;

    border-radius: 20%;

    box-shadow:  #e203ff50 10px -6px 5px;
}

